{% extends 'add_vehicles/base.html' %}

{% block title %}Tickets{% endblock %}
{% block content %}
<h1 class="mb-6 text-3xl">Tickets</h1>

<div class="space-y-6">
     {% for ticketing in tickets %}
         <a href="{% url 'ticketing:detail' ticketing.id %}">
             <div class="p-6 flex bg-gray-100 rounded-xl">
                 <div class="pr-6">
                     <img src="{{ ticketing.vehicles.image.url }}" class="w-20 rounded-xl"/>
                 </div>
                 <div>
                     {% for member in ticketing.members.all %}
                         {% if member != rquest.user %}
                             <p class="mb-4"><strong>{{ member.username }}</strong> | {{ ticketing.modified_at }}</p>
                             <p{{ ticketing.vehicles.name }}</p>
                         {% endif %}
                     {% endfor %}
                 </div>
             </div>
             </a>
     {% endfor %}
</div>
{% endblock %}